@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Rubik', sans-serif;
}

:root{
    --clr-main: #4b33a8;
    --clr-main-light: #785ce9;
    --clr-white: #ececec;
    --clr-gray: #e2e2e2;
    --clr-red: #961818;
    --clr-back:linear-gradient(to bottom, #051937, #10465b, #437476, #83a193, #c8cfba);
}


ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-image: linear-gradient(to right bottom, #041021, #213d48, #4c6c6c, #859d90, #c8cfba);
}

aside{
    padding: 2rem;
    color: var(--clr-white);
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
 

}

.logo{
    font-weight: 400;
    font-size: 1.3rem;
}

.texto-footer{
    color:gray;
    font-size: .75rem;
}


main{

    background-image: linear-gradient(to bottom, #051937, #10465b, #437476, #83a193, #c8cfba);
    margin: 1rem;
    margin-left: 0;
    border-radius: 1rem;
    padding: 2rem;
}

.titulo-principal{
    color:var(--clr-gray);
    margin-bottom: 1rem;
}

.contenedor-productos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.producto-imagen{
    max-width: 100%;
    border-radius: .5rem;
}

.producto-detalles{
    background-color: rgb(228, 227, 227);
    color:var(--clr-white);
    padding: .5rem;
    border-radius: 1rem;
    margin-top: -1.5rem;
    /* position:relative; */
    display: flex;
    flex-direction: column;
    text-align: center;

}

.producto-titulo{
    font-size: 1rem;
    color:brown;
    background-color:rgba(228, 227, 227,0.8);
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    border-top:solid rgb(155, 154, 154)
    
}

.produdcto-agregar{
    border:0;
    background-color: white;
    padding: .25rem;
    border-bottom-right-radius: .5rem;
    border-bottom-left-radius: .5rem;
    border-top: solid .1rem #4b33a8;
    border-bottom: solid rgb(155, 154, 154);
}

.producto-precio{
    color: var(--clr-main-light);
    
}

.menu{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.boton-menu{
    background-color: transparent;
    border: 0;
    color: var(--clr-white);
    font-size: 1rem;
    display: flex;
    gap: .5rem;
    /* text-decoration: none; */
    
}


.boton-menu:hover{
    color: yellowgreen;


}
.boton-carrito{
    margin-top: 4rem;
    text-decoration: none;
}

.boton-volver{
    margin-top: 4rem;
    text-decoration: none;
}
.numerito{
    /* background-color: wite; */
    color: white;
    text-decoration: none;
    /* padding: -.25rem; */

}



.carrito-vacio{
    color:#c8cfba;
    display: none;
    
}

.carrito-productos{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.carrito-producto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(127, 129, 131, 0.3);    
    padding: .5rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding-right: 1.5rem;
    color:var(--clr-gray);
}
.carrito-producto-imagen{
    width: 4rem;
    border-radius: .5rem;
}
.carrito-producto small{
    font-size: .75rem;
}

.carrito-producto-eliminar{
    border: 0;
    background-color: transparent;
    color: var(--clr-red);
}

.contenedor-carrito{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.carrito-acciones{
    display: flex;
    justify-content: space-between;
    
}

.carrito-acciones-vaciar{
    border: 0;
    background-color: var(--clr-red);
    padding: 1rem;
    border-radius: 1rem;
    color: white;
}
.carrito-acciones-derecha{
    display: flex;
    
    
}
.carrito-acciones-total{
    display: flex;
    border: 0;
    background-color: var(--clr-gray);
    padding: 1rem;
    /* border-radius: 1rem; */
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
    padding-right: 4rem;
    gap: .5rem;
    
}

.carrito-acciones-comprar{
    display: flex;
    border: 0;
    background-color: rgba(53, 204, 53, 0.8);    
    padding: 1rem;
    /* border-radius: 1rem; */
    color: var(--clr-gray);
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

.disabled{
    display: none;
}

.produdcto-agregar:hover{
    background-color: #4e6067;
    transition: 600ms;
    color: white;
}